.input-field{
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 38px;
   
    box-shadow:3px 3px 7px #347471, -3px -3px 7px #347471;

    padding: 8px;
    border: none;
    color: darkgray;
   
    background: transparent;
    color: rgb(35, 180, 35);
  
  width:  80%;
   
    text-align: center;
   
    justify-content: center;
    align-items: center;
    
}
.input-field1{
  
display: flex;flex-direction: row;
    margin: auto;
    border-radius: 38px;
   
    box-shadow: 3px 3px 7px #dc143c, -3px -3px 7px #dc143c;

    padding: 8px;
    border: none;
    color: darkgray;
   
    background: transparent;
    color: rgb(35, 180, 35);
  
  width:  80%;
   
    text-align: center;
   
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.input-field2{
  
display: flex;flex-direction: row;
    margin: auto;
    border-radius: 38px;
   
 

    padding: 8px;
    border: none;
    color: darkgray;
   
    background: transparent;
    color: rgb(35, 180, 35);
  
  width:  80%;
   
    text-align: center;
   
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* contact page */

    .heading1{
        text-align: center;
        font-size: medium;
        margin: 1rem;
        padding: 10px;
        background: crimson;
        color: floralwhite;
        font-family: cursive;
        border-radius: 10px;
    
    }
